/* Global styling */

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
}

main {
    margin: 0 320px 0 220px; 
    padding: 0 1rem 1rem 1rem;
    min-height: 100vh;
    background: #0b0b0b
}

h1 {
    color: #f6f6f6;
}
