/* ======================================================
BASE / RESET
====================================================== */

/* ======================================================
RESET & BOX MODEL
====================================================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ======================================================
TYPOGRAPHY
====================================================== */

body {
    font-family: var(--font-family-base);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: -1.25rem;
}

/* ======================================================
BODY / MAIN
====================================================== */

body {
    min-height: 100vh;
    background: var(--color-bg);
}

main {
    min-height: 100vh;
    background: var(--color-bg);
}

/* ======================================================
TEXT ELEMENTS
====================================================== */

h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

h1 {
    color: var(--color-text);
}

p {
    line-height: 1.5;
}

/* ======================================================
LINKS
====================================================== */

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* ======================================================
FORM ELEMENTS
====================================================== */

input,
textarea,
button,
select {
    font: inherit;
}

textarea {
    resize: none;
    width: 100%;
}

/* ======================================================
MEDIA
====================================================== */

img,
svg,
video {
    display: block;
    max-width: 100%;
}
