/* ======================================================
    LAYOUT – GLOBAL
====================================================== */

/* ======================================================
    MAIN WRAPPER
====================================================== */

main {
  min-height: 100vh;
  padding-top: 2.75rem; /* plads til mobile topbar */
}

.posts-container {
  max-width: 100%;
  color: var(--color-text);
  margin-top: 1rem;
}

/* ======================================================
    MEDIA QUERIES
    MOBILE FIRST
====================================================== */

/* ======================================================
    TABLET
====================================================== */

@media (min-width: 768px) {
  main {
    padding: 1rem;
    margin-left: 20rem; /* nav width */
  }

  .posts-container {
    max-width: 43.5rem;
    margin: 2rem auto;
  }
}

/* ======================================================
    DESKTOP
====================================================== */

@media (min-width: 1025px) {
  main {
    margin-right: 28rem; /* sidebar width */
  }

  .posts-container {
    max-width: 48rem;
  }
}
