/* Variabler */

/* ---------- Colors ---------- */
:root {
    /* Brand / actions */
    --color-primary: #1da1f2;
    --color-primary-hover: #0d8bd9;
    --color-primary-disabled: #9bd1f9;

    --color-delete: #ef4444;
    --color-confirm-delete: #dc2626;
    --color-sucess: #4caf50;
    

    /* Base UI */
    --color-bg: #0b0b0b;
    --color-text: #f6f6f6;
    --color-border: #5e5e5e;
    --color-bg-disabled: #5f5f5f;;
    

    /* ---------- Typography ---------- */
    --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    /* ---------- Borders ---------- */
    --border-radius-xs: 1rem;
    --border-radius-sm: 2rem;
    --border-radius-lg: 20rem;

    --border-xs: 0.5px;
}